
<div class="container">
  <h1 class="lets-quiz">Let's Quiz!</h1>
  <h2>Game: <%= @game.name %></h2>

  <div class="users">
    <h4>Now playing:</h4>

    <ul>
      <% @users.each do |user|%>
          
        <li><%= user.name %></li>
          
      <% end %>
    </ul>
  </div>
  <p><%= @game.id %></p>
  <a class="btn disabled" onClick="start()">Start Game</a>
  <div id="timer">10 seconds left</div>

  <main>
    <div class="question-box">Get ready to play...</div>
    <ul class="answers">
      
    </ul>

    <div class="code">
      <p>If you are the room creator, send the below code to your friends to invite them to play with you.</p>
      <p><%= @game.code %></p>
    </div>

  </main>

</div>


<script>

  //Grab  elements from page
  var timer = document.querySelector('#timer'),
        question = document.querySelector('.question-box'),
        answ = document.querySelector('.answers'),
        startBtn = document.querySelector('.btn');
        
  // const result = JSON.parse('<%= @results.to_json.html_safe %>');
  // var questions = [];
  var questionNumber = 0;
  var correctAnswer = ''
  var score = 0;

  function startTimer(num, func){
    var startTimer = setInterval(function(){
      timer.textContent = --num + ' seconds left';
      if(num === 0){
        clearInterval(startTimer);
        func()
      }
    },1000);
  }
  function startGame(){
    if(questionNumber <= 19){
      displayQuestion(questions, questionNumber)
      displayAnswers(questions, questionNumber)
      answ.addEventListener('click', clicked)
      questionNumber++
      startTimer(7, startGame)
    }else{
      displayScore();
    }
  }

  function displayQuestion(questions, idx){
    question.textContent = decodeURIComponent(questions[idx].question)
  }

  function displayAnswers (questions, idx){
    //Empty anwera container
    answ.innerHTML = ''
    //Create a new array with new answers
    let answers = []
    answers.push(...questions[idx].incorrect_answers)
    //Randomize the position of the correct answer
    let randomIdx = Math.floor(Math.random() * 3)
    answers.splice(randomIdx, 0, questions[idx].correct_answer)
    //Set the correct answer
    correctAnswer = decodeURIComponent(questions[idx].correct_answer)
    //Display answers
    answers.forEach(elem => {
      let li = document.createElement('li')
      li.textContent = decodeURIComponent(elem);
      li.classList.add('answear')
      answ.appendChild(li)
    });
    
  }

  function clicked(){
    event.target.classList.add('clicked')
    answ.removeEventListener("click", clicked);
    if(event.target.textContent === correctAnswer){
      score++
    }else if(event.target.textContent !== correctAnswer){
      score--
    }
  }

  function displayScore(){
    fetch('/game/<%= params[:id] %>/finish',
    {
      method: "PUT",
      body: score 
    }).then(res=> console.log(res))
  }

    //SSE
  var source = new EventSource("/sse");
  source.addEventListener('users', event => {
    startBtn.classList.remove('disabled')
    // startTimer(10, startGame)
  });
  source.addEventListener('game-start', event => {
    questions = JSON.parse(event.data).questions
    console.log(questions);
    startTimer(10, startGame)
  });

  function start() {
    fetch('/games/<%= params[:id] %>/start').then(res=>{
      console.log(res);
    })
  }
</script>



