
<div class="container">
  <h1>Let's Quiz!</h1>
  <h2>Game: <%= @game.name %></h2>

  <div class="users">
    <h4>Now playing:</h4>

    <ul>
      <% @users.each do |user|%>
          
        <li><%= user.name %></li>
          
      <% end %>
    </ul>
  </div>

  <div class="code">
    <p>If you are the room creator, send the below code to your friends to invite them to play with you.</p>
    <p><%= @game.code %></p>
  </div>

  <div id="timer">10s left</div>

  <main>
    <div class="question-box">Get ready to play...</div>
    <ul class="answers">
      
    </ul>

  </main>

</div>


<script>

  //Grab  elements from page
  const timer = document.querySelector('#timer'),
        question = document.querySelector('.question-box'),
        answ = document.querySelector('.answers');
        
  const result = JSON.parse('<%= @results.to_json.html_safe %>');
  let questionNumber = 0;
  let correctAnswer = ''
  let score = 0;


  //Main function run immediatelly at start
  (function start(){
    startTimer(3, startGame)
  })()

  function startTimer(num, func){
    var startTimer = setInterval(function(){
      timer.textContent = --num + 's left';
      if(num === 0){
        clearInterval(startTimer);
        func()
      }
    },1000);
  }
  function startGame(){
    
    if(questionNumber <= 19){
      displayQuestion(result, questionNumber)
      displayAnswers(result, questionNumber)
      answ.addEventListener('click', clicked)
      questionNumber++
      startTimer(7, startGame)
    }else{
      displayScore();
    }
  }

  function displayQuestion(result, idx){
    question.textContent = decodeURIComponent(result[idx].question)
  }

  function displayAnswers (result, idx){
    //Empty anwera container
    answ.innerHTML = ''
    //Create a new array with new answers
    let answers = []
    answers.push(...result[idx].incorrect_answers)
    //Randomize the position of the correct answer
    let randomIdx = Math.floor(Math.random() * 3)
    answers.splice(randomIdx, 0, result[idx].correct_answer)
    //Set the correct answer
    correctAnswer = decodeURIComponent(result[idx].correct_answer)
    //Display answers
    answers.forEach(elem => {
      let li = document.createElement('li')
      li.textContent = decodeURIComponent(elem);
      li.classList.add('answear')
      answ.appendChild(li)
    });
    
  }

  // answ.addEventListener('click', clicked)

  function clicked(){
    event.target.classList.add('clicked')
    answ.removeEventListener("click", clicked);
    if(event.target.textContent === correctAnswer){
      score++
    }else if(event.target.textContent !== correctAnswer){
      score--
    }
    console.log(score);
  }

  function displayScore(){

    fetch('/game/<%= params[:id] %>/finish',
    {
      method: "POST",
      body: score 
    }).then(res=> console.log(res))
  }

    //SSE
    var source = new EventSource("/games/<%= params[:id] %>/live");
      source.addEventListener('user', function(event) {
      console.log(event.data);
      // source.close()
    });


</script>

<style>
  /**{
  box-sizing: border-box;
  }

  body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container{
    margin: 0 auto;
  }

  .users{
    background: #ccc;
  }

  .users li{
    padding: 0;
  }

  h1{
    color: red;
  }

  ul{
    list-style: none;
  }

  #timer{
    background-color: #ddd;
    padding:10px 50px;
    margin: 30px auto;
    width: 50%;
    font-size:24px;
  }

  .question-box{
    background-color: #ddd;
    padding: 50px 100px;
    text-align: center;
  }

  .answers{
    margin: 50px auto;
    padding: 0;
    width:50%;
  }

  .answers li{
    background-color:#DDD;
    padding:10px 25px;
    margin:10px 0;
    text-align: center;
  }

  .answers li:hover{
    background:#ccc;
    box-shadow: 10px 10px 8px #888888;
  }

  .clicked{
    background: #000;
    color: #fff;
  }
*/
</style>

